.fadein
  .slide1
    div
      h3 = "And the winner(s) for #{@results.to_a[0][0]} are:"
      - @results.to_a[0][1].each_with_index do |winner, index|
        div class="hidden hidden-0-#{index}" = "#{winner[winner.keys.first]}"
        div class="js-odoo-0-#{index}"
      = image_tag "ifa.jpg", style: "width: 8rem"
      = image_tag "bgs_badge_bw.jpg", style: "width: 8rem"
  - count = 1
  - @results.to_a[1..-1].each do |group, winners|
    .slides
      div
        h3 = "And the winner(s) for #{group} are:"
        - winners.each_with_index do |winner, index|
          div class="hidden hidden-#{count}-#{index}" = "#{winner[winner.keys.first]}"
          div class="js-odoo-#{count}-#{index}"
        = image_tag "ifa.jpg", style: "width: 8rem"
        = image_tag "bgs_badge_bw.jpg", style: "width: 8rem"
    - count += 1

javascript:
  $( document ).on('turbolinks:load', function() {
    let value1 = $(".hidden-0-0")[0].innerHTML
    odoo.default({ el:'.js-odoo-0-0', from: '', to: value1.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });

    if ($(".hidden-0-1").length > 0) {
      let value2 = $(".hidden-0-1")[0].innerHTML
        odoo.default({ el:'.js-odoo-0-1', from: '', to: value2.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });
    }
    if ($(".hidden-0-2").length > 0) {
      let value3 = $(".hidden-0-2")[0].innerHTML
      odoo.default({ el:'.js-odoo-0-2', from: '', to: value3.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });
    }
    if ($(".hidden-0-3").length > 0) {
      let value3 = $(".hidden-0-3")[0].innerHTML
      odoo.default({ el:'.js-odoo-0-3', from: '', to: value3.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });
    }
    if ($(".hidden-0-4").length > 0) {
      let value3 = $(".hidden-0-4")[0].innerHTML
      odoo.default({ el:'.js-odoo-0-4', from: '', to: value3.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });
    }
  })

  document.onkeypress = function (e) {
    nextSlide()
  };

  let index = 0

  function nextSlide() {
    index += 1
    if ($('.fadein').children()[index] !== undefined) {
      $('.fadein').children()[(index-1)].style.display = "none"
      $('.fadein').children()[index].style.display = "flex"
      let value1 = $(".hidden-"+index+"-0")[0].innerHTML
      odoo.default({ el:'.js-odoo-'+index+'-0', from: '', to: value1.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });

      if ($(".hidden-0-1").length > 0) {
        let value2 = $(".hidden-"+index+"-1")[0].innerHTML
        odoo.default({ el:'.js-odoo-'+index+'-1', from: '', to: value2.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });
      }
      if ($(".hidden-0-2").length > 0) {
        let value3 = $(".hidden-"+index+"-2")[0].innerHTML
        odoo.default({ el:'.js-odoo-'+index+'-2', from: '', to: value3.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });
      }

      if ($(".hidden-0-3").length > 0) {
        let value3 = $(".hidden-"+index+"-2")[0].innerHTML
        odoo.default({ el:'.js-odoo-'+index+'-2', from: '', to: value3.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });
      }

      if ($(".hidden-0-4").length > 0) {
        let value3 = $(".hidden-"+index+"-2")[0].innerHTML
        odoo.default({ el:'.js-odoo-'+index+'-2', from: '', to: value3.replace(/[^\w\s]/gi, ' ').toUpperCase(), animationDelay: 100 });
      }
    }
  }
